<%= javascript_include_tag "application", "data-turbolinks-track" => true %>

<%= @item.link.html_safe %>
<%= @item.external_player.html_safe %>

<p>
<a href="javascript:void(window.location.reload());">リロード</a>

<a href="javascript:void(window.open('<%= @item.mylist_url %>', null, 'width=480, height=360, menubar=no, toolbar=no, scrollbars=yes'));">マイリスト</a>

<%= link_to 'archive', archive_path(@item.id), remote: true, method: 'post', data: {confirm: 'Archiveしますか？'} %>
<%= link_to 'favorite', favorite_path(@item.id), remote: true, method: 'post', data: {confirm: 'Favしますか？'} %>
</p>

<p>
  <%= link_to '前', prev_player_path(@item.id) %>
  <%= link_to '次', next_player_path(@item.id) %>
</p>

<%= @item.detail_html.html_safe %>

<script type="text/javascript">
  function onNicoPlayerStatus(id, status){
    if(status == 'end'){
      // リピート
      //var player = document.getElementById(id);
      //player.ext_setPlayheadTime(0);
      // 次
      location.href = "<%= next_player_path(@item.id) %>" ;
    }
  }
</script>
