
<div class="text-center">
  <%= @item.external_player.html_safe %>
</div>

<ul class="pager">
  <li class="previous">
    <%= link_to '← Older', player_path(@item.prev.id) %>
  </li>
  <li class="next">
    <%= link_to 'Newer →', player_path(@item.next.id) %>
  </li>
</ul>

<script type="text/javascript">
  function onNicoPlayerStatus(id, status){
    if(status == 'end'){
      // リピート
      //var player = document.getElementById(id);
      //player.ext_setPlayheadTime(0);
      // 次
      location.href = "<%= player_path(@item.next.id) %>" ;
    }
  }
  $('.prev_player_link').click(function () {
    location.href = "<%= player_path(@item.prev.id) %>" ;
      return false;
  });
  $('.next_player_link').click(function () {
    location.href = "<%= player_path(@item.next.id) %>" ;
      return false;
  });
</script>
