<% if @items.present? %>
  <iframe id="player" src="<%= player_path(@items.first.id) %>" frameborder="yes" width="600px" height="500px">
    iframeの表示が行えません出来た
  </iframe>
<% end %>

<div class="playlist">
  <% @items.each do |item| %>
    <p>
      <%= link_to item.given_title, "##{item.id}", remote: true, class: 'video' %>
    </p>
    <p>
      <a href="javascript:void(window.open('<%= item.mylist_url %>', null, 'width=480, height=360, menubar=no, toolbar=no, scrollbars=yes'));">マイリスト</a>
      <%= link_to 'archive', archive_path(item.id), remote: true, method: 'post', data: {confirm: 'Archiveしますか？'} %>
      <%= link_to 'favorite', favorite_path(item.id), remote: true, method: 'post', data: {confirm: 'Favしますか？'} %>
    </p>
  <% end %>
</div>
