<!DOCTYPE html>
<html>
  <head>
    <title>Poolcket</title>
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>

    <div class="navbar navbar-default navbar-fixed-top">

      <div class="container">
        <div class="navbar-header">
          <%= link_to 'Poolcket', root_path, class: 'navbar-brand' %>
        </div>


        <div class="navbar-collapse collapse" id="navbar-main">
          <% if @item.present? %>
            <ul class="nav navbar-nav">
              <li>
                <%= link_to @item.watch_url do %>
                  <%= @item.title %>
                <% end %>
              </li>
            </ul>
          <% end %>
          <ul class="nav navbar-nav navbar-right">
            <% if user_signed_in?  %>
              <li class="dropdown pull-right">
                <%= link_to '#', class: 'dropdown-toggle', data: { toggle: 'dropdown' } do %>
                  Menu <span class="caret"></span>
                <% end %>
                <ul class="dropdown-menu">
                  <li><%= link_to 'リロード', 'javascript:void(window.location.reload());' %></li>
                  <% if @item.present? %>
                    <li><a href="javascript:void(window.open('<%= @item.mylist_url %>', null, 'width=480, height=360, menubar=no, toolbar=no, scrollbars=yes'));">マイリスト</a></li>
                    <li><%= link_to 'archive', archive_path(@item.id), remote: true, method: 'post', data: {confirm: 'Archiveしますか？'} %></li>
                    <li><%= link_to 'favorite', favorite_path(@item.id), remote: true, method: 'post', data: {confirm: 'Favしますか？'} %></li>
                    <li><%= link_to 'All archive', all_archive_path, data: {confirm: '登録しているitemを全てArchiveしますか？'} %></li>
                  <% end %>
                  <li class="divider"></li>
                  <li><%= link_to 'Sign out', destroy_user_session_path %></li>
                </ul>
              </li>
            <% else %>
              <li><%= link_to 'Sign in with Pocket', user_omniauth_authorize_path(:pocket) %></li>
            <% end %>
          </ul>
        </div>

      </div><!-- /.container -->

    </div>

    <div class="content <%= controller_name %>">
      <div class="container">
        <%= yield %>
      </div><!-- /.container -->
    </div>

  </body>
</html>
