<!DOCTYPE html>
<html>
  <head>
    <title>Poolcket</title>
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>

    <div class="navigation navbar navbar-inverse" role="navigation">

      <div class="container">
        <div class="navbar-header">
          <%= link_to 'Poolcket', root_path, class: 'navbar-brand' %>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <% if user_signed_in? %>
              <li><%= link_to 'Sign out', destroy_user_session_path %></li>
            <% else %>
              <li><%= link_to 'Sign in with Pocket', user_omniauth_authorize_path(:pocket) %></li>
            <% end %>

          </ul>

        </div><!--/.nav-collapse -->

      </div><!-- /.container -->

    </div>

    <div class="content <%= controller_name %>">
      <div class="container">
        <%= yield %>
      </div><!-- /.container -->
    </div>

  </body>
</html>
